.btn-cadastrar {
  background-color: var(--azul-medio);
  color: var(--branco);
  padding: 1rem;
  border: 0.1rem solid var(--azul-medio);
  border-radius: 3rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 2rem;
}

.btn-cadastrar:hover {
  background-color: var(--azul-escuro);
  transition: 0.3s;
  border: 0.1rem solid var(--branco);
}

.campos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 100px;
}

.senha-cadastrar {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  gap: 2rem;
}

.senha-cadastrar i {
  cursor: pointer;
  font-size: 50%;
  position: absolute;
  right: 5%;
}

.nome-campo {
  font-size: 1.6rem;
  font-weight: 500;
}

.mensagem-senha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2.6rem;
  font-weight: 300;
}

.campo-invalido {
  display: none;
  font-size: 1.4rem;
  font-weight: 300;
}

.mensagem-enviada {
  display: none;
  font-size: 1.6rem;
}
